@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --black: #000;
  --dark: #514e4e;
  --red: #fc3b56;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --pink: #c60f83;
  --light-pink: #f7b9e0;
  --green: #81d43a;
  --light-green: #e3ffcb;
}

html {
  overflow-x: hidden !important;
}

html::-webkit-scrollbar {
  width: none !important;
  display: none !important;
}

body {
  background: var(--grey) !important;
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

hr {
  background-color: var(--dark-blue) !important;
}

/* Add to your CSS file */
@keyframes spin {
  100% { transform: rotate(360deg); }
}
.loading-spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #fff;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}

.swal2-validation-popup ul {
  list-style-type: disc !important;
  padding-left: 1.2em !important;
  margin: 0 !important;
  text-align: left !important;
}

.swal2-validation-popup li {
  list-style-type: disc !important;
  display: list-item !important;
}

.swal2-validation-popup .swal2-html-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: left !important;
    width: 100%;
}

#baptized-group.error {
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: 8px;
}

#recfor-group.error {
  border: 1px solid #dc3545;
  border-radius: 5px;
  padding: 8px;
}

/*! SIBEBAR */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  transition: all .3s ease;
  z-index: 200;

  /* Adding shadow on the right side */
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
}

#sidebar::-webkit-scrollbar {
  width: none;
  display: none;
}

#sidebar.hide {
  max-width: 60px;
}

#sidebar.hide:hover {
  max-width: 260px;
}

#sidebar .brand {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 63px;
  font-weight: 700;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--light);
  transition: all .3s ease;
  padding: 0 6px;
}

#sidebar .icon {
  min-width: 48px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 25px;
  margin-right: 6px !important;
}

#sidebar .icon-right {
  margin-left: auto !important;
  transition: all .3s ease !important;
}

#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all .3s ease;
}

#sidebar.hide .side-menu {
  padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}

#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--dark);
  padding: 12px 16px 12px 0;
  transition: all .3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}

#sidebar .side-menu > li > a:hover {
  background: var(--grey);
}

#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
  background: var(--blue);
  color: var(--light);
}

#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-grey);
  transition: all .3s ease;
  white-space: nowrap;
}

#sidebar.hide:hover .divider{
  text-align: left;
}

#sidebar.hide .divider {
  text-align: center;
}

#sidebar .side-dropdown {
  padding-left: 54px;
  max-height: 0;
  overflow-y: hidden;
  transition: all .15s ease;
}

#sidebar .side-dropdown.show {
  max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
  color: var(--blue);
}

#sidebar .side-dropdown a.selected {
  color: var(--blue) !important;
}

#sidebar .ads {
  width: 100%;
  padding: 20px;
  transition: all .3s ease;
}

#sidebar.hide .ads {
  display: none;
}

#sidebar.hide:hover .ads {
  display: block;
}

#sidebar .ads .wrapper {
  background: var(--grey);
  padding: 20px;
  border-radius: 10px;
}

#sidebar .btn-upgrade {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: var(--light);
  background: var(--blue);
  transition: all .3s ease;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
  background: var(--dark-blue);
}

#sidebar .ads .wrapper p {
  font-size: 12px;
  color: var(--dark-grey);
  text-align: center;
}

#sidebar .ads .wrapper p span {
  font-weight: 700;
}
/*! END SIBEBAR */



/*! CONTENT  */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all .3s ease;
}

#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}

/*! NAVBAR */
nav {
  background: var(--light) !important;
  height: 64px !important;
  padding: 0 20px !important;
  display: flex !important;
  align-items: center !important;
  grid-gap: 28px !important;
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 100 !important;
}
nav .toggle-sidebar {
  font-size: 18px !important;
  cursor: pointer !important;
}

nav form {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
}

nav .form-group {
  position: relative;
}

nav .form-group input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all .3s ease;
}

nav .form-group input:focus {
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}

nav .form-group .icon {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 12px !important;
  font-weight: 700 !important;
  color: var(--dark-grey) !important;
}

.nav-link {
  padding: 0 !important;
}

nav .nav-link {
  position: relative !important;
}

nav .nav-link .icon {
  font-size: 18px !important;
  color: var(--dark) !important;
}

nav .nav-link .badge {
  position: absolute !important;
  top: -12px !important;
  right: -12px !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  border: 1px solid var(--light) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: var(--red) !important;
  color: var(--light) !important;
  font-size: 10px !important;
  font-weight: 700 !important;
}

nav .divider {
  width: 1px;
  background: var(--grey);
  height: 12px;
  display: block;
}

nav .profile {
  position: relative;
}

nav .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

nav .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
  padding: 10px 0;
  width: 300px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

nav .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}

nav .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  translate: all .3s ease;
}

nav .profile .profile-link a:hover {
  background: var(--grey);
}

.side-dropdown > li a.active,
.side-dropdown > li a.active .pointer-icon {
  font-weight: 700 !important;
  color: var(--blue) !important;
}


/*! END NAVBAR */

/*! MAIN  */
main {
  width: 100%;
  padding: 20px 20px 20px 20px;
  max-height: calc(100vh - 63px);
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

main .title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

main .breadcrumbs {
  display: flex;
  grid-gap: 6px;
  padding: 0 !important;
}

main .breadcrumbs li,
main .breadcrumbs li a {
  font-size: 14px;
}

main .breadcrumbs li a {
  color: var(--blue);
}

main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
  color: var(--dark-grey);
  pointer-events: none;
}

main .info-data {
  margin-top: 18px;
  width: 100%;
}

main .info-data .card-form {
  padding: .6rem !important;
}

.circle {
  width: 180px; /* Set the desired width */
  height: 180px; /* Set the desired height */
  border-radius: 50%; /* Creates the circular shape */
  overflow: hidden; /* Ensures the image fits within the circle */
  display: inline-block; /* Allows proper alignment */
  position: relative; /* Optional, helps with positioning */
}

.circle img {
  width: 100%; /* Ensures the image covers the circle */
  height: 100%; /* Ensures the image covers the circle */
  object-fit: cover; /* Maintains aspect ratio and covers the circle */
  display: block; /* Removes default image spacing */
}

/* Hide the default file input */
.custom-file-input {
  display: none;
}

/* Style the custom file input button */
.custom-file-button {
  display: inline-block;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.custom-file-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/*! END MAIN  */

/*! FOOTER  */
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:var(--light); /* Footer background color */
  color: var(--dark); /* Footer text color */
  text-align: right !important;
  font-size: 14px;
}

/*! END FOOTER  */

/*! END CONTENT  */



/*! BOOTSRAP 5 CSS  */
.info-data .row {
  padding-bottom: 5px !important;
}

.card-header, 
.modal-header {
  background-color: var(--dark-blue) !important;
  color: var(--light) !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.hierarchy-header {
  background-color: var(--dark) !important;
}

.link-name:hover {
  cursor: pointer;
  color: var(--blue) !important;
  text-decoration: underline !important;
}

.modal-body {
  max-height: calc(91vh - 120px) !important; 
  overflow-y: auto !important;
}

.table-parent {
  height: 350px;
}

.table > thead, th {
  background-color: var(--dark) !important;
  font-weight: 500 !important;
  color: var(--light);
  font-size: 14px;
  z-index: 1 !important;
  text-transform: uppercase;
}

.table > tbody > tr:hover {
  background-color: var(--light-blue);
}

.table > tbody > tr > td {
  text-align: left; /* Horizontal alignment */
  vertical-align: middle; /* Vertical alignment */
  padding: 8px; /* Optional: adds space around the content */
  border: 1px solid #ddd; /* Optional: for table borders */
}

.table > tbody > tr > td > img {
  width: 35px; /* Set size as needed */
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
}

.btn {
  color: var(--light) !important;
}

.bxs-edit {
  color: #1e61e2;
}
.bx-notepad {
  color: #d41ee2;
}
.bx-task-x {
  color: #e58931;
}

td.td-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: transparent !important;
  padding: 14.5px 0 14.5px 0 !important;
}

.btn-icon {
  font-size: 22px;
  cursor: pointer;
}

.btn-icon:hover {
  font-size: 20px;
  cursor: pointer;
  color: #333 !important;
}

.table-text-link {
  cursor: pointer;
  color: #000;
  font-size: 15px;
}

.table-text-link:hover {
  font-weight: 700;
  text-decoration: underline !important;
}

.input-click {
  cursor: pointer;
}
/*! END BOOTSRAP 5 CSS  */

/*! CUSTOM TOOLTIP  */
/*** TOP */
/* Shared tooltip styling for any element */
.custom-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  font-size: 14px;
  visibility: hidden;
  background-color: #333; /* Dark background for the tooltip */
  color: #fff;  /* White text color */
  text-align: left; /* Left-aligned text */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 10px;  /* Padding inside the tooltip */
  position: absolute;
  z-index: 1;
  top: -50px;  /* Tooltip's position above the element */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip horizontally */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow effect */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.custom-tooltip .tooltip-text:before {
  content: '';
  position: absolute;
  top: 100%; /* Position the arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px; /* Center the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; /* Dark arrow pointing downward */
}

/*** END TOP */

/*** BOTTOM */
/* Shared tooltip styling for any element */
.custom-tooltip-bottom {
  position: relative;
  display: inline-block;
}

.tooltip-text-bottom {
  font-size: 14px;
  visibility: hidden;
  background-color: #333; /* Dark background for the tooltip */
  color: #fff;  /* White text color */
  text-align: left; /* Left-aligned text */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 10px;  /* Padding inside the tooltip */
  position: absolute;
  z-index: 1000 !important;
  bottom: -50px;  /* Position the tooltip below the element */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip horizontally */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow effect */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.custom-tooltip-bottom:hover .tooltip-text-bottom {
  visibility: visible;
  opacity: 1;
}

.custom-tooltip-bottom .tooltip-text-bottom:before {
  content: '';
  position: absolute;
  bottom: 100%; /* Position the arrow at the top of the tooltip */
  left: 50%;
  margin-left: -5px; /* Center the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent; /* Dark arrow pointing upward */
}

/*** END BOTTOM */

/*! END CUSTOM TOOLTIP  */

/*! CICLE IMAGE HORIZOTAL ORDER */
.image-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.image-list li {
  margin-right: -10px; /* Decreased space */
  color: var(--light);
  position: relative; /* Position relative for absolute tooltip */
}

.image-list img {
  width: 35px; /* Set size as needed */
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--light-blue);
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px; /* Size of the circle */
  height: 35px;
  border: 2px solid var(--grey);
  border-radius: 50%;
  background-color: #eee; /* Circle background color */
  cursor: pointer;
}

.icon {
  font-size: 16px; /* Adjust as needed */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 35px; /* Match the circle height */
}

.image-list img,
.icon-circle {
  transition: transform 0.2s; /* Smooth transition for the lift effect */
}

.image-list img:hover,
.icon-circle:hover {
  transform: translateY(-5px); /* Move up by 5px on hover */
}

/* Tooltip styles */
.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px; /* Add horizontal padding */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the image */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s; /* Smooth fade effect */
  white-space: nowrap !important; /* Prevent text wrapping */
  word-wrap: normal !important;
}

/* Arrow style */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Position below the tooltip */
  left: 50%;
  margin-left: -5px; /* Center the arrow */
  border-width: 5px; /* Size of the arrow */
  border-style: solid;
  border-color: black transparent transparent transparent; /* Arrow color */
}

/* Show tooltip on hover */
.image-list img:hover + .tooltip,
.icon-circle:hover .tooltip {
  visibility: visible;
  opacity: 1; /* Show tooltip on hover */
}

/* CODES OF ICONS IN THE LEFTSIDE OF TEXTBOX */
.input-wrapper {
  position: relative;
}

.input-wrapper .bx-search {
  position: absolute;
  right: 10px; /* Position the icon 10px from the right edge */
  top: 50%;
  transform: translateY(-50%); /* Center the icon vertically */
  font-size: 18px; /* Adjust the size of the icon */
  pointer-events: none; /* Make sure the icon doesn't interfere with input interaction */
}
/* END CODES OF ICONS IN THE LEFTSIDE OF TEXTBOX */

/* CODES FOR ANIMATION */
.icon-transition {
  transition: transform 0.3s ease, rotate 0.3s ease;
}
/* END CODES FOR ANIMATION */

/*! END CIRCLE IMAGE HORIZOTAL ORDER */

.ggstatus:hover .label-text {
  font-weight: 600;
  text-decoration: underline;
}

.ggstatus-active .label-text {
  font-weight: 600;
  text-decoration: underline;
}

/*! TOGGLE SWITCH CSS  */
  /* Customizing Bootstrap Toggle */
  .btn-group-xs>.btn, .btn-xs {
    padding-top: 8px !important;
    padding-right: 8px !important;
    font-size: .700rem !important;
  }
  
  .toggle.ios,
  .toggle-on.ios,
  .toggle-off.ios {
      border-radius: 20rem;
  }
    
  .toggle.ios .toggle-handle {
      border-radius: 20rem;
  }
/*! END TOGGLE SWITCH CSS  */

/*! HIERACHY CSS */

#heirarchy-card-parent {
  height: 530px; /* Adjust height as needed */
}

#heirarchy-card-parent .card-body {
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: 100%; /* Ensures the card body takes the full height available */
}

.hierarchy-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: 10px;
  border-left: 5px solid var(--dark-blue);
  border-right: 5px solid var(--dark-blue);
}

.hierarchy-card-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid var(--grey);
}

.hierarchy-card-content {
  display: flex;
  flex-direction: column;
}

.hierarchy-fullname {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.hierarchy-designation {
  font-size: 14px;
  color: #777;
  margin: 5px 0 0;
}

.item-content {
  display: flex;
  align-items: center;
}

.item-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid var(--grey);
}

.item-text {
  font-size: 16px;
  color: #333;
}

/*! END HIERACHY CSS */


/*! BOOTSTRAP CLASSES */
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 4px solid var(--blue);
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

#group-list-info .list-group-item:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

#group-list-info .list-group-item:hover a,
#group-list-info .list-group-item:hover .bx {
  color: var(--light) !important;
}

#group-list-info .list-group-item.active {
  background-color: var(--dark-blue);
  cursor: pointer;
}

#group-list-info .list-group-item.active a,
#group-list-info .list-group-item.active .bx {
  color: var(--light) !important;
}

/*! END BOOTSTRAP CLASSES */